.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.has-blue-background {
    background-color: #a7ddff;
    border: 1px solid #721ee3
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}
